@charset "utf-8";
    :root {
        --color1 : #CCCCFF33;
        --color2 : #6495ED33;
        --color3 : #40E0D033;
        --color4 : #9FE2BF33;
        --color5 : #DE316333;
        --color6 : #FF7F5033;
        --color7 : #FFBF0033;
    }

    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
    }

body { 
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.wrapper{
    left: 30%;
    margin: 50px;
    width: 300px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: 2s;
}

.wrapper:hover {
    animation: ani 3s linear infinite;
}

.wrapper div {
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: .2em;
}

.wrapper .top {
    transform: rotateX(90deg) translateZ(150px);
    background-color: var(--color2);
}

.wrapper .bottom {
    transform: rotateX(-90deg) translateZ(150px);
    background-color: var(--color3);
}

.wrapper .left {
    transform: rotateY(-90deg) translateZ(150px);
    background-color: var(--color4);
}

.wrapper .right {
    transform: rotateY(90deg) translateZ(150px);
    background-color: var(--color5);
}

.wrapper .front {
    transform: rotateZ(90deg) translateZ(150px);
    background-color: var(--color6);
}

.wrapper .back {
    transform: rotateY(0.5turn) translateZ(150px);
    background-color: var(--color7);
}

@keyframes ani {
    100%{
        transform: rotateY(360deg);
    }
}
@media (max-width: 640px) {
    .wrapper {

        bottom: 400px;
        width: 150px;
        height: 150px;
    }
    
}